name: "Java"

on: 
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    name: "Build"
    runs-on: "ubuntu-latest"

    strategy:
      fail-fast: false
      matrix:
        java-version: [17, 21]

    steps: 
      - name: "Clone repository"
        uses: actions/checkout@v4

      - uses: actions/setup-java@v4
        with:
          distribution: "oracle"
          java-version: ${{ matrix.java-version }}
          cache: "gradle"

      - name: "Start database"
        run: docker compose -f docker-compose.yml up -d

      - name: "Build project"
        run: ./gradlew app:compileJava
        
      - name: "Basic tests"
        run: ./gradlew test --tests org.example.DatabaseTest --tests org.example.LoadRecipeTest
             ./gradlew
        
      - name: "Quality test"
        run: ./gradlew test --tests org.example.IngredientsTest

      - name: "Ingredients test"
        run: ./gradlew test --tests org.example.TenantIngredientsTest
        

      - name: "Produce distribution"
        run: ./gradlew distZip

      - name: "Upload build artifacts"
        uses: actions/upload-artifact@v4
        with:
          name: ssh-java-${{ matrix.java-version }}
          path: app/build/distributions/app.zip
