name: "Java"

on: 
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    name: "Build"
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        java-version: [17, 21]
        os: ["ubuntu-latest", "windows-latest"]

    steps: 
      - name: "Clone repository"
        uses: actions/checkout@v4

      - uses: actions/setup-java@v4
        with:
          distribution: "oracle"
          java-version: ${{ matrix.java-version }}
          cache: "gradle"

      - name: "Build project"
        run: ./gradlew --no-daemon build