name: "Java"

on: 
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    name: "Build"
    runs-on: "ubuntu-latest"

    strategy:
      fail-fast: false
      matrix:
        java-version: [17, 21]

    steps: 
      - name: "Clone repository"
        uses: actions/checkout@v4

      - uses: actions/setup-java@v4
        with:
          distribution: "oracle"
          java-version: ${{ matrix.java-version }}
          cache: "gradle"

      - name: "Start database"
        run: docker compose -f docker-compose.yml up -d

      - name: "Build project"
        run: ./gradlew app:compileJava
        
      - name: "Tests"
        run: ./gradlew test
        
      - name: "Test coverage"
        run: ./gradlew jacocoTestCoverageVerification

      -  name: JaCoCo Code Coverage Report
         id: jacoco_reporter
         uses: PavanMudigonda/jacoco-reporter@v5.0
         with:
          coverage_results_path: app/build/reports/jacoco/test/jacocoTestReport.xml
          coverage_report_name: Coverage-java--${{ matrix.java-version }}
          coverage_report_title: JaCoCo
          github_token: ${{ secrets.GITHUB_TOKEN }}
          skip_check_run: false
          publish_only_summary: false

      # Publish Coverage Job Summary
      - name: Add Jacocoo report to workflow run summary
        run: |
          echo "| Outcome | Value |" >> $GITHUB_STEP_SUMMARY
          echo "| --- | --- |" >> $GITHUB_STEP_SUMMARY
          echo "| Code Coverage % | ${{ steps.jacoco_reporter.outputs.coverage_percentage }} |" >> $GITHUB_STEP_SUMMARY
          echo "| ✔️ Number of Lines Covered | ${{ steps.jacoco_reporter.outputs.covered_lines }} |" >> $GITHUB_STEP_SUMMARY
          echo "| ❌ Number of Lines Missed | ${{ steps.jacoco_reporter.outputs.missed_lines }} |" >> $GITHUB_STEP_SUMMARY
          echo "| Total Number of Lines | ${{ steps.jacoco_reporter.outputs.total_lines }} |" >> $GITHUB_STEP_SUMMARY
      
      - name: "Produce distribution"
        run: ./gradlew distZip

      - name: "Upload build artifacts"
        uses: actions/upload-artifact@v4
        with:
          name: ssh-java-${{ matrix.java-version }}
          path: app/build/distributions/app.zip
